# Variáveis de Produção (AWS)
VITE_API_URL=https://your-api-gateway-id.execute-api.us-east-1.amazonaws.com
VITE_USER_POOL_ID=us-east-1_xxxxxxxxx
VITE_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

# Variáveis para Docker Local
# COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
# COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
